# Configurações do servidor
PORT=3000
NODE_ENV=development

# Configurações do MongoDB
MONGODB_URI=mongodb://localhost:27017/antt-multas

# Configurações do Google Cloud Storage
GCS_PROJECT_ID=rodoxisto-415812
GCS_BUCKET_NAME=docsync-anntmultas
GCS_KEY_FILE=./backend/credentials/docsync-teste-415812-c9cf99db3ee4.json

# Exemplo de configuração alternativa usando variáveis do JSON
# (Alternativa ao arquivo de chave - use apenas uma das opções)
# GOOGLE_APPLICATION_CREDENTIALS=./path/to/service-account-key.json 